.fabric/
.mixin.out/
att-debug/
buildguide/
crash-reports/
data/
defaultconfigs/
downloads/
local/
logs/
moddata/
saves/
schematics/
stackdeobf_mappings/
xaero/
XaeroWaypoints_BACKUP240807/

.curseclient
