.fabric/
.mixin.out/
att-debug/
buildguide/
crash-reports/
/data/
defaultconfigs/
downloads/
local/
logs/
moddata/
saves/
schematics/
stackdeobf_mappings/
xaero/
XaeroWaypoints_BACKUP240807/
/modern_industrialization/
/modernfix/

.curseclient
minecraftinstance.json
*.log
irisUpdateInfo.json
usercache.json
user-prefs.json
usernamecache.json
options.amecsapi.txt
rhino.local.properties

win_event*